:root{
  --main-bg-color: #FFFBFC;
  --secondary-bg-color: #2D2B2A;
  --accessory-color-r: #BA2D0B;
  --accessory-color-g: #B28A36;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: var(--main-bg-color);
  color: var(--secondary-bg-color);
}

h2{
  font-size: 1.5rem;
  font-weight: 300;
}

.card-container{
  display: flex;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

a{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.icon-container{
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25rem solid var(--accessory-color-r);
  border-radius: 50%;
}

i{
  font-size: 1.5rem;
  color: var(--accessory-color-r);
  padding: 20px;
  text-align: center;
  margin: auto;
}